<svg xmlns="http://www.w3.org/2000/svg" viewBox="10 10 100 100" class="marca__logo" height="32" aria-hidden="true" focusable="false"><g transform="translate(0,0) scale(1) translate(0,-7)" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"><path d="M40 80V46Q40 30 56 30" stroke="currentColor"/><path d="M26 50H50" stroke="#B5532C"/><circle cx="78" cy="64" r="16" stroke="currentColor"/><path d="M94 56V88Q94 104 78 104Q68 104 62 98" stroke="currentColor"/></g></svg>