---
layout: layouts/base.njk
title: Archive
translationKey: archive
permalink: /en/archive/
---
{% set lista = collections.postsEn %}
{% if site.emConstrucao %}{% include "em-construcao.njk" %}{% else %}{% include "pagina-arquivo.njk" %}{% endif %}
