---
layout: layouts/base.njk
translationKey: home
pagination:
  data: collections.postsEn
  size: 10
  alias: lista
permalink: "{% if pagination.pageNumber > 0 %}/en/page/{{ pagination.pageNumber + 1 }}/{% else %}/en/{% endif %}"
---
{% if site.emConstrucao %}{% include "em-construcao.njk" %}{% else %}{% include "pagina-home.njk" %}{% endif %}
