---
layout: layouts/base.njk
pagination:
  data: collections.tagListEn
  size: 1
  alias: tag
permalink: /en/tags/{{ tag.name | slugify }}/
eleventyComputed:
  title: "#{{ tag.name }}"
---
{% include "pagina-tag.njk" %}
