---
layout: layouts/base.njk
translationKey: home
pagination:
  data: collections.posts
  size: 10
  alias: lista
permalink: "{% if pagination.pageNumber > 0 %}/pagina/{{ pagination.pageNumber + 1 }}/{% else %}/{% endif %}"
---
{% include "pagina-home.njk" %}
