---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag.name | slugify }}/
eleventyComputed:
  title: "#{{ tag.name }}"
---
{% include "pagina-tag.njk" %}
